<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
    <session-factory>

        <!-- 数据库连接的参数配置 -->
        <property name="hibernate.connection.url">jdbc:mysql://192.168.1.3:3306/db_hm?serverTimezone=UTC</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123</property>
        <!-- 通过数据库方言，告诉hibernate如何生产sql。 hibernate会根据配置的方言，生产符合当前数据库语言的SQL语句 -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- 其他常用配置 -->
        <property name="hibernate.show_sql">true</property>
        <!--  格式化输出sql语句-->
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!--加载的映射  -->
        <mapping resource="hib/Event.hbm.xml"/>
        <mapping class="com.knight.hibernate_demo.model.User1"/>
    </session-factory>
</hibernate-configuration>
